* {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
button {
    border: none;
    background-color: #707070;
    color: #eee;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 6px;
    filter: drop-shadow(3px 5px 0px);   
    cursor: pointer;
}
button:hover {
    color: black;
    background-color: #eee;
    filter: drop-shadow(3px 7px 3px);
}